.expense-amount {
    background-color: hsl(25, 47%, 15%);
    color: white;
    border-radius: 5px;
    width: 45px;
    height: 20px;
    padding: 8px 2px;
    line-height: 14px;
    height: 14px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}