.bar {
    background-color: hsl(10, 79%, 65%);
    border-radius: 7px;
    width: 100%;
    margin: 3px; 
    display: flex;
    flex-direction: column;
}

.bar-today {
    background-color: hsl(186, 34%, 60%);
}

.bar:hover {
    opacity: 50%;
}
