.bar-chart {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 175px;
    border-bottom: 2px solid hsl(27, 66%, 92%);
    padding: 0 0 25px 0;
    
}

.bar-chart > div {
    width: 11%;
    font-family: 'Faunces';
    font-weight: 400;
}
