.card__desktop {
    width: 40%;
    border-radius: 15px;
    padding: 10px 2%;
    margin: 1%;
    min-width: 280px;
}

.balance-header {
    background-color: hsl(10, 79%, 65%);
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.balance-header h4{ 
    font-size: 14px;
    text-align: left;
    font-weight: 200;
}

  .balance-header h3 {
    font-size: 24px;
  }

  .chart-card {
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .chart-card > div {
    color: hsl(25, 47%, 15%);
  }


  .chart-card h3 {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: hsl(25, 47%, 15%);
  }

  .balance-header > i {
    align-self: center;
  }